{% extends "main.html" %}

{% block titulo %} HomePage {% endblock %}


{% block body %}
    {% for i in range(0, 5): %} <!-- codigo python -->
    <h1> {{ texto }} </h1>
    {% endfor %}

    {% block formulario %}
    <form method="POST">
        {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.btn() }}
    </form>
    {% endblock %}

    {% includes "navbar.html" %}
<!--    <a href="{{url_for('profile', user_id='Joel')}}">Perfil do Joel</a>-->
<!--    <a href="{{url_for('profile', user_id='Ana')}}">Perfil da Ana</a>-->
<!--    <a href="{{url_for('profile', user_id='Batima Fernardes')}}">Perfil da Batima Fernardes</a>-->
{% endblock %}